body{ background-color: #fffcf4; }
section { position: relative; }

.wrapper{ margin: 0 auto; width: 770px; }

nav ul li { }
nav ul li a{ text-indent: -9999px; display: block; }
nav ul li #about{ background: url("../img/menu-about.png") no-repeat; height: 102px; width: 79px; }
nav ul li #portfolio{ background: url("../img/menu-portfolio.png") no-repeat; height: 94px; width: 94px; }
nav ul li #music-and-theater{ background: url("../img/menu-musicandtheater.png") no-repeat; height: 87px; width: 102px; }
nav ul li #blog{ background: url("../img/menu-blog.png") no-repeat; height: 104px; width: 80px; }
nav ul li #contact{ background: url("../img/menu-contact.png") no-repeat; height: 78px; width: 81px; }

#home{ background: url("../img/bg-home.png") no-repeat; }
#about{ background: url("../img/bg-about.png") no-repeat bottom right; }

#about article{ margin-top: 200px; }
#about article p{ float: left; margin-right: 135px; width: 300px; }