section#portfolio, section#music-and-theater, section#blog{
	min-height: 700px;
}

h2.title{ line-height: 200px; text-transform: uppercase; }
h2.title a{ text-indent: -9999px; display: block; }

article.post{ width: 650px; float: left; margin: 0 20px 0 0;}

.tagcloud { margin-bottom: 30px; }

ul.grid{ width: 718px; float: left; }
ul.grid li{ margin: 0 40px 40px 62px; width: 237px; height: 237px; float:left; overflow: hidden; position: relative; }
aside{ float: left; margin-left: 22px; width: 220px; }
aside h2{ text-shadow: none !important; text-align: center; font-size: 25px; margin: 0 0 30px 0; text-transform: uppercase;}
aside input[type=text]{ margin: 0 0 30px 0; width: 209px; padding: 4px; border: solid 1px #a59682; }
aside ul li{ margin: 0 5px 25px 0; display: block;  }
aside li a, aside .tagcloud a{ font-weight: 500; padding: 5px; display: block; color: #a59682; text-transform: uppercase; font-size: 13px !important;}

section#portfolio{ background: url("../../img/bg_portfolio2.jpg") fixed center center; }
section#portfolio h2{ padding: 50px 0 40px 0; }
section#portfolio h2.post-title{ line-height: 1; padding: 0; }
section#portfolio aside h2{ line-height: 1; padding: 0; }
section#portfolio aside ul li a,
section#portfolio aside .tagcloud a
{ border-bottom: solid 1px #1591bb; }
section#portfolio aside ul li a:hover,
section#portfolio aside ul li a:active,
section#portfolio aside ul li a.active
section#portfolio aside .tagcloud a:hover,
section#portfolio aside .tagcloud a:active,
section#portfolio aside .tagcloud a.active,
{ background-color: #44a7c9; color: #FFF; }
section#portfolio .fb-comments{ border-top: #1591bb; }
section#portfolio .categories a{ color: #44a7c9; }
section#portfolio .categories a:hover{ color: #6fbad4; }

section#music-and-theater{ background: url("../../img/bg_musica2.jpg") fixed center center; }
section#music-and-theater aside ul li a{ border-bottom: solid 1px #883bbb; }
section#music-and-theater aside ul li a:hover, 
section#music-and-theater aside ul li a:active, 
section#music-and-theater aside ul li a.active,
section#music-and-theater aside .tagcloud a:hover, 
section#music-and-theater aside .tagcloud a:active, 
section#music-and-theater aside .tagcloud a.active
{ background-color: #883bbb; color: #FFF; }
section#music-and-theater .fb-comments{ border-top: solid 1px #883bbb; }
section#music-and-theater .categories a{ color: #883bbb; }
section#music-and-theater .categories a:hover{ color: #a15fcd; }

section#blog{ background: url("../../img/bg_blog2.jpg") fixed center center; }
section#blog aside ul li a,
section#blog aside .tagcloud a
{ border-bottom: solid 1px #ff8d02; }
section#blog aside ul li a:hover, 
section#blog aside ul li a:active, 
section#blog aside ul li a.active,
section#blog aside .tagcloud a:hover, 
section#blog aside .tagcloud a:active, 
section#blog aside .tagcloud a.active
{ background-color: #ff8d02; color: #FFF; }
section#blog .fb-comments{ border-top: solid 1px #ff9d02; }
section#blog .categories a{ color: #ff9d02; }
section#blog .categories a:hover{ color: #ffc66c; }

.post{ padding: 20px; color: #786f62; background-color:rgba(255,252,244,0.9);}
.post .post-image{ margin: 20px 0; text-align: center;}
.post img{ max-width: 625px; height: auto; }
.post h2{ text-shadow: none !important; margin-bottom: 10px; font-size: 20px; }
.post h3{ color: #786f62; font-size: 11px; }
.post p{ text-align: justify; }
.post hr{ margin-top: 20px; color: #ff9d02; }

.categories li{ display: inline; font-size: 11px; }