ul.post{ width: 718px; float: left;}
ul.post li{ width: 718px; margin: 0 0 20px 0; }

ul.grid{ width: 718px; float: left; }
ul.grid li{ margin: 0 1px 2px 1px;  }
aside{ float: left; margin-left: 22px; width: 220px; }
aside h2{ text-shadow: none !important; text-align: center; font-size: 25px; margin: 0 0 30px 0; }
aside input[type=text]{ margin: 0 0 30px 0; width: 209px; padding: 4px; }
aside ul li{ float: left; margin: 0 5px 25px 0; }
aside li a{ font-weight: 300; padding: 5px; }

.portfolio aside ul li a{ color: #44a7c9; border: solid 1px #1591bb; }
.portfolio aside ul li a:hover{ background-color: #44a7c9; color: #FFF; }
.portfolio aside input[type=text]{ border: solid 1px #1591bb; color: #1591bb; }

.music-and-theater aside ul li a{ color: #883bbb; border: solid 1px #883bbb; }
.music-and-theater aside ul li a:hover{ background-color: #883bbb; color: #FFF; }
.music-and-theater aside input[type=text]{ border: solid 1px #883bbb; color: #883bbb;}

.blog aside ul li a{ color: #ff8d02; border: solid 1px #ff8d02; }
.blog aside ul li a:hover, .blog aside ul li a:active{ background-color: #ff8d02; color: #FFF; }
.blog aside input[type=text]{ border: solid 1px #ff8d02; color: #ff8d02; }

.post li .post-image{ width: 718px; height: 200px; overflow: hidden; margin: 20px 0;}
.post li h2{ text-shadow: none !important; color: #a59682 !important; margin-bottom: 10px; font-size: 20px; }
.post li p{ text-align: justify; margin-bottom: 20px; }
.post li hr{ margin-top: 20px; }