h2.title{ line-height: 200px; }
h2.title a{ text-indent: -9999px; display: block; }

ul.post{ width: 718px; float: left;}
ul.post li{ width: 718px; margin: 0 0 20px 0; }

ul.grid{ width: 718px; float: left; }
ul.grid li{ margin: 0 1px 2px 1px;  }
aside{ float: left; margin-left: 22px; width: 220px; }
aside h2{ text-shadow: none !important; text-align: center; font-size: 25px; margin: 0 0 30px 0; }
aside input[type=text]{ margin: 0 0 30px 0; width: 209px; padding: 4px; border: solid 1px #a59682; }
aside ul li{ margin: 0 5px 25px 0; display: block;  }
aside li a{ font-weight: 500; padding: 5px; display: block; color: #a59682; }

.portfolio aside ul li a{ border-bottom: solid 1px #1591bb; }
.portfolio aside ul li a:hover{ background-color: #44a7c9; color: #FFF; }

.music-and-theater aside ul li a{ border-bottom: solid 1px #883bbb; }
.music-and-theater aside ul li a:hover{ background-color: #883bbb; color: #FFF; }

.blog aside ul li a{ border-bottom: solid 1px #ff8d02; }
.blog aside ul li a:hover, .blog aside ul li a:active{ background-color: #ff8d02; color: #FFF; }

.post{ padding: 0 0 20px 0; color: #786f62; }
.post li .post-image{ width: 718px; height: 200px; overflow: hidden; margin: 20px 0;}
.post li h2{ text-shadow: none !important; margin-bottom: 10px; font-size: 20px; }
.post li h3{ color: #786f62; font-size: 11px; }
.post li p{ text-align: justify; margin-bottom: 20px; }
.post li hr{ margin-top: 20px; color: #ff9d02; }

.categories li{ display: inline; font-size: 11px; }

#blog .post{ border-bottom: solid 1px #ff9d02; }
#blog .categories li a{ color: #ff9d02; }
#blog .categories li a:hover{ color: #ffc66c; }

#music-and-theater .post{ border-bottom: solid 1px #883bbb; }
#music-and-theater .categories li a{ color: #883bbb; }
#music-and-theater .categories li a:hover{ color: #a15fcd; }

#portfolio .post{ border-bottom: none; }
#portfolio .categories li a{ color: #44a7c9; }
#portfolio .categories li a:hover{ color: #6fbad4; }
