/* ESTILOS GERAIS DA APLICAÇÃO, QUE SERAM USADOS EM TODAS AS TELAS */

body{ background-color: #fffcf4; }
section, header { position: relative; clear: both; }

h2 { font-family: 'Oswald', sans-serif; }
h2.title{ font-size: 50px; text-align: center; font-weight: 700; margin: 40px 0; }
a{ font-family: 'Oswald', sans-serif; text-decoration: none; }

input[type=text], textarea{ background: transparent; }

.wrapper{ margin: 0 auto; width: 960px; }
.clearfix{ clear: both; }
a.btn{ 
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  padding: 8px 15px; 
  margin: 15px auto; 
  display: table; 
  color: #FFF; 
  font-weight: 500; }
}

#home{ height: 700px; }
#portfolio { height: 900px; }
#music-and-theater{ height: 900px }
#blog { height: 900px }
#about{ height: 900px }
#contact{ height: 900px }


/* ***** MENUS ***** */
nav.tree{ background: url("../img/bg-home.png") no-repeat; width: 543px; height: 666px; position: relative; }
nav.tree ul li{ background: url("../img/sprite-menus.png"); position: absolute; height: 104px}
nav.tree ul li#portfolio{ width: 94px; height: 94px; top: 325px; left: 338px; }
nav.tree ul li#music-and-theater{ background-position: -115px 0; width: 102px; height: 87px; top: 152px; left: 74px; }
nav.tree ul li#blog{ background-position: -257px 0; width: 90px; height: 104px; top: 325px; left: 80px;}
nav.tree ul li#about{ background-position: -370px 0; width: 79px; height: 101px; top: 201px; left: 482px; }
nav.tree ul li#contact{ background-position: -479px 0; width: 79px; height: 78px; top: 30px; left: 256px; }

nav.interna{ background-color: #dfd0bb; -webkit-box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.39); -moz-box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.39); box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.39); }
nav.interna h2{ float: left; background: url("../img/logo-menu.png") no-repeat; width: 30px; height: 32px; margin: 5px 0 0 5px; padding: 0;}
nav.interna ul { text-align: center; }
nav.interna ul li{ display: inline-block; margin: 0 auto; padding: 17px 40px 13px 40px; text-transform: uppercase;}
nav.interna ul li:first-child{ padding-left: 0;}
nav.interna ul li a{ transition: 0.3s ease; font-weight: 500; font-size: 14px; color: #a59682;  }
nav.interna ul li a:hover { padding: 11px 0; border-top: solid 1px; border-bottom: solid 1px; }

nav.interna ul li a.portfolio:hover{ border-color: #44a7c9; color: #44a7c9; }
nav.interna ul li a.music-and-theater:hover{ border-color: #883bbb; color: #883bbb; }
nav.interna ul li a.blog:hover{ border-color: #ff9d02; color: #ff9d02;}
nav.interna ul li a.about:hover{ border-color: #e50746; color: #e50746; }
nav.interna ul li a.contact:hover{ border-color: #54c710; color: #54c710;}

/* ***** SEÇÕES ***** */

#portfolio h2{ color: #44a7c9; text-shadow: 2px 2px 0px #1790b3; }
#portfolio a.btn{ background-color: #44a7c9; text-shadow: 2px 2px 0px #2d6e84; -webkit-box-shadow: 3px 3px 0px #1790b3; -moz-box-shadow: 3px 3px 0px #1790b3; box-shadow: 3px 3px 0px #1790b3; }
#portfolio a.btn:hover{ background-color: #4bb9df; }

#music-and-theater h2{ color: #883bbb; text-shadow: 2px 2px 0px #622c7b; }
#music-and-theater a.btn{ background-color: #883bbb; text-shadow: 2px 2px 0px #45096d; -webkit-box-shadow: 3px 3px 0px #622c7b; -moz-box-shadow: 3px 3px 0px #622c7b; box-shadow: 3px 3px 0px #622c7b; }
#music-and-theater a.btn:hover{ background-color: #9946d0; }

#blog h2{ color: #ff9d02; text-shadow: 2px 2px 0px #d18000; }
#blog a.btn { background-color: #ff9d02; text-shadow: 2px 2px 0px #b87100; -webkit-box-shadow: 3px 3px 0px #d18000; -moz-box-shadow: 3px 3px 0px #d18000; box-shadow: 3px 3px 0px #d18000; }
#blog a.btn:hover{ background-color: #ffb239; }

#about h2{ color: #e50746; text-shadow: 2px 2px 0px #b80135; }
#about article{ font-family: 'Armata', sans-serif; color: #967f60; font-size: 13px; line-height: 20px; width: 425px; text-align: justify; float: left;}
#about article h3{ color: #e50746; }
#about aside { float: right; margin: 43px 0 0 0; background: url("../img/bg-espiral.png") no-repeat 4px 210px; height: 600px; width: 365px; }
#about aside .photo{ position: relative; }
#about aside .photo img{ display: block; }
#about aside .photo span.border{ top: -43px; left: -48px; position: absolute; background: url("../img/border-photo.png") no-repeat; width: 342px; height: 337px; }
#about aside .photo li{ margin: 10px 0 0 35px; display: inline-block; }
#about aside .photo li:first-child{ margin-left: 0; }
#about aside .photo li a{ font-size: 15px; color: #ee0f57; font-weight: 700; }
#about aside .photo li a:hover{ color:#fb3d7a }


#contact h2{ color: #54c710; text-shadow: 2px 2px 0px #497400; }
#contact form{ width: 565px; }
#contact input[type=text], #contact textarea{ width:557px; border: solid 1px #54c710; color: #FFF; padding: 4px; }
#contact input[type=text]{ width: 565px; height: 22px; margin-bottom: 20px; }
#contact textarea { height: 142px; }

#footer{ background-color: #dfd0bb; padding: 20px 0; height:auto;}
#footer h2{ background: url("../img/logo-footer.png") no-repeat; width: 555px ; height: 88px; margin: 0; padding: 0;}

.grid li{ 
  width: 237px; 
  height: 237px; 
  margin: 0 1px 2px 1px; 
  background-color: #DFD0BB; 
  float:left; 
  overflow: hidden;
  position: relative;
}

.interna ul.grid{ width: 718px; float: left;  }
.interna aside{ float: left; margin-left: 22px; width: 220px; }
.interna aside h2{ text-shadow: none !important; text-align: center; font-size: 25px; margin: 0 0 30px 0; }
.interna aside input[type=text]{ margin: 0 0 30px 0; width: 209px; padding: 4px; }
.interna aside ul li{ float: left; margin: 0 5px 25px 0; }
.interna aside li a{ font-weight: 300; padding: 5px; }

.portfolio aside ul li a{ color: #44a7c9; border: solid 1px #1591bb; }
.portfolio aside ul li a:hover{ background-color: #44a7c9; color: #FFF; }
.portfolio aside input[type=text]{ border: solid 1px #1591bb; color: #1591bb; }

.music-and-theater aside ul li a{ color: #883bbb; border: solid 1px #883bbb; }
.music-and-theater aside ul li a:hover{ background-color: #883bbb; color: #FFF; }
.music-and-theater aside input[type=text]{ border: solid 1px #883bbb; color: #883bbb;}

.blog aside ul li a{ color: #ff8d02; border: solid 1px #ff8d02; }
.blog aside ul li a:hover, .blog aside ul li a:active{ background-color: #ff8d02; color: #FFF; }
.blog aside input[type=text]{ border: solid 1px #ff8d02; color: #ff8d02; }

